@use 'mixins';

.cart-main {
  padding: 20px;
  color: var(--tema1-color2);
  animation: fadeInUp 1s ease both;
}

.cart {
  display: flex;
  flex-direction: column;
  gap: 20px;

  hr {
    border: none;
    border-top: 1px solid var(--tema1-color2);
  }
}

.cart-item {
  display: flex;
  gap: 15px;
  align-items: center;
  background-color: var(--tema1-color3);
  padding: 10px;
  border-radius: 12px;
  transition: transform 0.3s, box-shadow 0.3s;

  &:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  img {
    width: 100px;
    height: auto;
    border-radius: 10px;
  }

  input {
    width: 50px;
    padding: 5px;
    border: 1px solid var(--tema1-color2);
    border-radius: 10px;
  }
}

.cart-total {
  text-align: right;
}

.btn-checkout {
  @include mixins.button-basic();
}