@use 'variables' as *;

.main-contacto {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  animation: fadeInUp 1s ease both;
}

.contacto {
  padding: 40px 20px;
  text-align: left;
  color: $theme-color2;
  line-height: 2rem;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;

  a {
    color: $theme-color2;
    transition: color 0.3s;

    &:hover {
      color: $theme-color3;
    }
  }
}

.img-contacto img {
  border-radius: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}