@use 'variables' as *;

footer {
  text-align: left;
  background-color: $theme-color2;
  color: $theme-color4;
  padding: 20px;
  font-size: 1rem;
  line-height: 2rem;
  margin-top: 40px;
  animation: fadeInUp 1s ease both;

  a {
    color: $theme-color4;
    transition: color 0.3s;

    &:hover {
      color: $theme-color1;
    }
  }
}

.footer-contacto {
  margin-top: 0;
}