@use 'mixins';

.hero {
  text-align: center;
  padding: 60px 20px;
  background-image: url(assets/imagen-herotres.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: fadeInUp 1s ease both;

  h1 {
    font-size: 2em;
    margin-bottom: 20px;
    animation: fadeInUp 1s ease both;
  }

  button {
    @include mixins.button-basic();
    animation: pulse 2s infinite;
  }
}