@use 'variables' as *;

@mixin button-basic($bg: $theme-color2, $color: $theme-color4, $hover-bg: $theme-color4, $hover-color: $theme-color2) {
  background-color: $bg;
  color: $color;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;

  &:hover {
    background-color: $hover-bg;
    color: $hover-color;
    transform: scale(1.05);
  }
}