@use 'variables' as *;

.h1-productos {
    color: $theme-color2;
    font-size: 1.1rem;
    // font-style: italic;
    margin: 1rem;
    text-align: center;
}

.h3-productos {
    color: $theme-color1;
    font-size: 1.7rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    background-color: $theme-color3;
    padding: 10px;
    border-radius: 12px;
}

.productos-destacados {
  display: flex;
  margin: 2rem;
  font-size: 1.4rem;
  justify-content: center;
  align-items: center;
  color: $theme-color2;
}

.destacados {
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: 10px;
  gap: 10px;
  align-items: flex-start;
}

.contenedor-productos {
  display: flex;
  align-items: stretch;
  gap: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.producto {
  flex: 3;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 0;
  list-style: none;
  margin: 0;
  font-size: 0.9rem;
}

.producto li {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 20%;
  background-color: $theme-color3;
  padding: 20px;
  border-radius: 12px;
  color: $theme-color4;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  animation: fadeInUp 1s ease both;

  &:hover,
  &:focus-within {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  }
}

.productos {
  margin: 10px;
}