@use 'variables' as *;

.quienes-inicio {
  background-color: $theme-color3;
  text-align: center;
  color: $theme-color2;
  margin: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 3rem;
  animation: fadeInUp 1s ease both;

  p {
    color: $theme-color4;
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.quienes-inicio-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em 5em;
  line-height: 1.5rem;
}

.parrafo-nosotros {
  background-color: $theme-color3;
  padding: 40px 20px;
  text-align: right;
  color: $theme-color2;
  animation: fadeInUp 1s ease both;
}