$theme-color1: #e9ddda;
$theme-color2: #b89691;
$theme-color3: #e6d7d3;
$theme-color4: #f8f3f2;

:root {
  --tema1-color1: #{$theme-color1};
  --tema1-color2: #{$theme-color2};
  --tema1-color3: #{$theme-color3};
  --tema1-color4: #{$theme-color4};
}